@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  #040720;
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: ##111184;
    --text-color:#777777;
    --toggle-color:#DDD;
    --foreground: #ededed;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }
}

body {
  background-image: linear-gradient(to right, red , yellow);
  background: var(--background);
  height:100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  top: 25%;
  left: 125%;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.Logo {
  background-image: url(../public/logo.jpg);
}